// Abstract
@use './abstracts/mixins' as *;

//Base
@use './base/reset';

// Tailwind base
@tailwind base;
@tailwind components;
@tailwind utilities;

//Inserting custom styles to tailwind via @layer directive
@layer utilities {
  *{
    &::-webkit-scrollbar-thumb{
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track{
      width: 4px;
      height: 4px;
    }
  }

   .no-scrollbar{
    scrollbar-width: 0 !important;

    &::-webkit-scrollbar{
      display: none !important;
  }
  div{
    scrollbar-width: 0 !important;

    &::-webkit-scrollbar{
      display: none !important;
  }
  }
   }
}

.lazy-load-image-background{
  width: 100%;
  height: 100%;
 }