// Abstract
@use './abstracts/mixins' as *;

//Base
@use './base/reset';

// Tailwind base
@tailwind base;
@tailwind components;
@tailwind utilities;

//Inserting custom styles to tailwind via @layer directive
@layer utilities {
   .no-scrollbar{
    scrollbar-width: 0;

    &::-webkit-scrollbar{
      display: none;
  }
   }
}

.lazy-load-image-background{
  width: 100%;
  height: 100%;
 }